/********************** Base styles ************************/
* {
    box-sizing: border-box;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Pangolin', cursive, serif;
}

.row {
    width: 100%;
}

h1 {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.food {
    background-color: gray;
    border: 1px solid black;
    width: 90%;
    height: 180px;
    margin: 10px auto;
    padding: 5px;
    position: relative;
}

p {
    position: relative;
    top: 40px;
}
.mini-title {
    font-size: 1.2em;
    border: 1px solid black;
    width: 120px;
    padding: 5px;
    text-align: center;
    position: absolute;
    top: -1px;
    right: -1px;
}
.mini-title-first {
    background-color: rgb(240, 157, 185);
}
.mini-title-second{
    background-color: rgb(158, 68, 68);
    color: white;
}
.mini-title-third {
    background-color: antiquewhite;
}
/************************** Desktop *************************/
@media (min-width:992px){
    .col-dk-1, .col-dk-2, .col-dk-3, .col-dk-4, .col-dk-5, .col-dk-6, .col-dk-7, .col-dk-8, .col-dk-9, .col-dk-10, .col-dk-11, .col-dk-12 {
        float: left;
    }
    .col-dk-1 {
        width: 8.33%;
        }
    .col-dk-2 {
        width: 16.66%;
    }
    .col-dk-3 {
        width: 25%;
    }
    .col-dk-4 {
        width: 33.33%;
    }
    .col-dk-5 {
        width: 41.66%;
    }
    .col-dk-6 {
        width: 50%;
    }
    .col-dk-7 {
        width: 58.33%;
    }
    .col-dk-8 {
        width: 66.66%;
    }
    .col-dk-9 {
        width: 74.99%;
    }
    .col-dk-10 {
        width: 83.33%;
    }
    .col-dk-11 {
        width: 91.66%;
    }
    .col-dk-12 {
        width: 100%;
    }
    
}
/************************** Tablet *************************/
@media (min-width:768px) and (max-width:991px){
    .col-tb-1, .col-tb-2, .col-tb-3, .col-tb-4, .col-tb-5, .col-tb-6, .col-tb-7, .col-tb-8, .col-tb-9, .col-tb-10, .col-tb-11, .col-tb-12 {
        float: left;
    }
        
    .col-tb-1 {
        width: 8.33%;
        }
    .col-tb-2 {
        width: 16.66%;
    }
    .col-tb-3 {
        width: 25%;
    }
    .col-tb-4 {
        width: 33.33%;
    }
    .col-tb-5 {
        width: 41.66%;
    }
    .col-tb-6 {
        width: 50%;
    }
    .col-tb-7 {
        width: 58.33%;
    }
    .col-tb-8 {
        width: 66.66%;
    }
    .col-tb-9 {
        width: 74.99%;
    }
    .col-tb-10 {
        width: 83.33%;
    }
    .col-tb-11 {
        width: 91.66%;
    }
    .col-tb-12 {
        width: 100%;
    } 
    .food3 {
        width: 95%;
    }

        
}
/************************** Mobile *************************/
@media (max-width:767px){
    .col-mb-1, .col-mb-2, .col-mb-3, .col-mb-4, .col-mb-5, .col-mb-6, .col-mb-7, .col-mb-8, .col-mb-9, .col-mb-10, .col-mb-11, .col-mb-12 {
        float: left;
    }
    .col-mb-1 {
        width: 8.33%;
        }
    .col-mb-2 {
        width: 16.66%;
    }
    .col-mb-3 {
        width: 25%;
    }
    .col-mb-4 {
        width: 33.33%;
    }
    .col-mb-5 {
        width: 41.66%;
    }
    .col-mb-6 {
        width: 50%;
    }
    .col-mb-7 {
        width: 58.33%;
    }
    .col-mb-8 {
        width: 66.66%;
    }
    .col-mb-9 {
        width: 74.99%;
    }
    .col-mb-10 {
        width: 83.33%;
    }
    .col-mb-11 {
        width: 91.66%;
    }
    .col-mb-12 {
        width: 100%;
    }
    
}
